@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 80px;
  background: #3e3c3c;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 20px 100px;
}

.nav-item .list {
  display: inline;
  padding: 20px;
}

#name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  margin-left: 50px;
  color: #fff;
}

.menu-bar {
  display: none;
}

#mail-icon {
  left: 4.17%;
  right: 4.17%;
  top: 12.5%;
  bottom: 12.5%;
}



/* The headline-section  */

.container {
  background-color: #1c1a19;

  /* background-image: url("icons/Illustration-header.png");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  background-size: contain; */
}

.top-container {
  display: flex;
}

.top-container .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  min-height: 90vh;
}

.content * {
  width: 400px;
}

.top-container .social * {
  padding: 10px;
}

.top-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  padding-left: 40px;
}

.top-container.top-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 0;
}

#content-1 {
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 81px;
  color: #f55800;
}

#content-2 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

#content-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

@media only screen and (max-width: 600px) {
  .nav-lists {
    display: none;
  }

  .menu-bar {
    display: block;
    padding-right: 30px;
  }

  .menu-bar img {
    width: 30px;
  }

  .content * {
    width: 327px;
  }

  #content-1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
  }

  #content-2 {
    font-size: 16px;
    line-height: 24px;
  }

  #content-3 {
    font-size: 16px;
    line-height: 24px;
  }

  .top-container .content {
    display: flex;
    flex-direction: column;
  }

  .top-container .social {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
  }
}
